<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mopon.dao.show.SyncShowMapper" >
  <resultMap id="syncShowResultMap" type="com.mopon.util.entity.Show" >
<!--     <id column="id" property="code"/> -->
    <result column="channelshowno" property="channelShowCode"/>
    <result column="cinemano" property="cinemaCode" />
    <result column="cinemashowno" property="cinemaShowCode"/>
    <result column="hallno" property="hallCode" />
    <result column="hallname" property="hallName"/>
    <result column="filmno" property="filmCode"/>
    <result column="filmname" property="filmName"/>
    <result column="language" property="language"/>
    <result column="showtime" property="showTime"/>
    <result column="duration" property="duration"/>
    <result column="stopselltime" property="stopSellTime"/>
    <result column="showtype" property="showType"/>
    <result column="stdprice" property="stdPrice"/>
    <result column="minprice" property="minPrice"/>
    <result column="settleprice" property="settlePrice"/>
    <result column="submitprice" property="submitPrice"/>
    <result column="connectfee" property="connectFee"/>
    <result column="status" property="status"/>

  </resultMap>
  <sql id="show_column_list" >
    channelshowno, cinemano, cinemashowno, hallno, hallname, filmno, filmname,language,showtime,duration,stopselltime,showtype
    ,stdprice,minprice,settleprice,submitprice,connectfee,status
  </sql>

  <select id="queryShowAll" resultMap= "syncShowResultMap">
  	select
  	 <include refid="show_column_list"/>
  	 from base_show where stopselltime>now()
  </select>

   <select id="queryShowAllBySync" parameterType="com.mopon.util.entity.Show" resultMap= "syncShowResultMap">
  	select distinct
  	 channelshowno, cinemano,status
  	 from base_show
  	 <where>
  	 	  stopselltime>now() and
  	 	 <if test="cinemaCode !=null and cinemaCode !=''">
  	 	  cinemano = #{cinemaCode}
  	 	 </if>
  	 </where>
  </select>

  <insert id="insertShowBatch" parameterType="java.util.List" >
    insert into base_show ( channelshowno, cinemano, cinemashowno,
     hallno, hallname, filmno, filmname,language,
     showtime,duration,stopselltime,showtype,stdprice,
     minprice,settleprice,submitprice,connectfee,status,channelno,createtime)
    values
     <foreach collection="list" item="item" index="index" separator=",">
    (#{item.channelShowCode}, #{item.cinemaCode}, #{item.cinemaShowCode},
      #{item.hallCode}, #{item.hallName}, #{item.filmCode}, #{item.filmName}, #{item.language},
      #{item.showTime},#{item.duration},#{item.stopSellTime},#{item.showType},#{item.stdPrice},
      #{item.minPrice},#{item.settlePrice},#{item.submitPrice},#{item.connectFee},#{item.status},
      #{item.channelCode},#{item.createTime}
      )
     </foreach>
  </insert>

  <update id="updateShowStatus" parameterType="com.mopon.util.entity.Show" >
	    update base_show
	      set
	      status = #{item.status}
	    where channelshowno = #{item.channelShowCode}
  </update>
</mapper>