* { font-family: "Microsoft YaHei", sans-serif; }
body { margin: 0; padding: 0; font-size: 12px;}

a { cursor: pointer; color: #08c }
a:hover { text-decoration: underline }

.g-mlr-5 { margin: 0 5px }
.g-ml-5 { margin-left: 5px }
.g-c-c00 { color: #c00 }

.search_box { overflow:hidden; padding:10px 0;}
.search_box .item { margin: 5px 0; min-width: 300px; display: inline-block }
.search_box .item_middle { min-width: 600px; }
.search_box .item_row { width: 100% }
.search_box .item_auto { width: auto }
.search_box .item label:first-child { padding-right: 5px; width: 100px; line-height: 20px; display: inline-block; text-align: right }
.search_box .item input[type="text"] { width: 185px }
.search_box .item input[type="checkbox"] { margin: 0 5px 0 0 }

.edit_box {overflow:hidden;padding-top:20px;padding-bottom: 50px }
.edit_box .item { float: left; margin: 5px 0; width: 350px; min-height: 24px; line-height: 22px }
.edit_box .item_row { width: 100% }
.edit_box .item label:first-child { float: left; padding-right: 5px; width: 130px; line-height: 22px; display: inline-block; text-align: right }
.edit_box .item > span.text { float: left; line-height: 20px }
.edit_box .item span.star { margin-left: 5px; line-height: 22px; color: #c00 }
.edit_box .button { position: fixed; box-sizing: border-box; bottom: 0; margin: 0; padding: 5px; background-color: #e6e6e6; border-top: 1px solid #d4d4d4; text-align: right }
.edit_box .button span.message { float:left; color:#c00 }
.edit_box .button a { min-width: 50px; }
.edit_box .text-error { background-color: #fff3f3; border-color: #ffa8a8; color: #000; }

.edit-box{overflow:hidden}
.edit-box .bottom{box-sizing: border-box; bottom: 0; margin: 0; padding: 5px; background-color: #e6e6e6; border-top: 1px solid #d4d4d4; text-align: right }
.edit-box  .item { float: left; margin: 5px 0; width: 350px; min-height: 24px; line-height: 22px }
.edit-box .item_row { width: 100% }
.edit-box .item label:first-child { float: left; padding-right: 5px; width: 130px; line-height: 22px; display: inline-block; text-align: right }
.edit-box .text-error { background-color: #fff3f3; border-color: #ffa8a8; color: #000; }

#sys_tips { position: fixed; z-index: 9999; padding: 10px 20px; text-align: center }
#sys_tips.success {
	animation: animation_sys_tips 0.5s ease 3s;
	animation-fill-mode: forwards;
	-moz-animation: animation_sys_tips 0.5s ease 3s;
	-moz-animation-fill-mode: forwards;
	-webkit-animation: animation_sys_tips 0.5s ease 3s;
	-webkit-animation-fill-mode: forwards;
	background-color: #59c42e; 
	color: #fff 
}
#sys_tips.error { 
	animation: animation_sys_tips 0.5s ease 3s;
	animation-fill-mode: forwards;
	-moz-animation: animation_sys_tips 0.5s ease 3s;
	-moz-animation-fill-mode: forwards;
	-webkit-animation: animation_sys_tips 0.5s ease 3s;
	-webkit-animation-fill-mode: forwards;
	background-color: #c00; 
	color: #fff 
}
#sys_tips.warn { 
	animation: animation_sys_tips 0.5s ease 3s;
	animation-fill-mode: forwards;
	-moz-animation: animation_sys_tips 0.5s ease 3s;
	-moz-animation-fill-mode: forwards;
	-webkit-animation: animation_sys_tips 0.5s ease 3s;
	-webkit-animation-fill-mode: forwards;
	background-color: #dd6409; 
	color: #fff 
}
@keyframes animation_sys_tips {
	99% { opacity: 0 }
	100% { top: -50px }
}
@-moz-keyframes animation_sys_tips {
	99% { opacity: 0 }
	100% { top: -50px }
}
@-webkit-keyframes animation_sys_tips {
	99% { opacity: 0 }
	100% { top: -50px }
}