<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
		
	<!-- 加载应用组件 -->
<!-- 	<context:component-scan base-package="com.mopon.card.task" /> -->
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 0定时器测试类doTest:0/5 * * * * ? -->
				<ref bean="doTestTrigger" />

				<!-- 1 测试定时任务，正式工程请删除 :0/3 * * * * ? -->
				<ref bean="runDemoTrigger" />
			</list>
		</property>
	</bean>

	<!-- 0定时器测试类doTest:0/5 * * * * ? -->
	<bean id="doTestTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="doTestJobDetail" />
		<property name="cronExpression" value="0/5 * * * * ?" />
	</bean>
	<bean id="doTestJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="taskScheduler" />
		<property name="targetMethod" value="doTest" />
		<property name="concurrent" value="false" />
	</bean>
	
	<!-- 1 测试定时任务，正式工程请删除 :0/3 * * * * ? -->
	<bean id="runDemoTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="runDemoJobDetail" />
		<property name="cronExpression" value="0/3 * * * * ?" />
		<property name="startDelay" value="30" />
	</bean>
	
	<bean id="runDemoJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="taskScheduler" />
		<property name="targetMethod" value="runDemo" />
		<property name="concurrent" value="false" />
	</bean>

<!-- 	<bean id="taskScheduler" class="cn.mopon.cec.task.TaskScheduler" /> -->
</beans>