<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mopon.dao.base.AreaDao" >
  <resultMap id="areaResultMap" type="com.mopon.entity.Area" >
    <result column="areaid" property="areaId" />
    <result column="areano" property="areaNo" />
    <result column="areaname" property="areaName" />
    <result column="parentno" property="parentNo" />
    <result column="arealevel" property="areaLevel" />
    <result column="chn" property="chn" />
    <result column="isused" property="isUsed" />
    <result column="ishot" property="isHot" />
    <result column="sortno" property="sortNo" />
  </resultMap>
  
  <sql id="fieldList" >
    areaid,areano,areaname,parentno,arealevel,chn,isused,ishot,sortno
  </sql>
  
  <select id="queryListByPage" parameterType="com.mopon.util.Page" resultMap="areaResultMap">
     SELECT 
     <include refid="fieldList"></include>
     from base_area
     <where>
         1 = 1
         <if test="params.areaNo != null and params.areaNo != ''">
             and areaNo = #{params.areaNo}
         </if>
         <if test="params.areaName != null and params.areaName != ''">
             and areaname like CONCAT("%",#{params.areaName},"%")
         </if>
         <if test="params.parentNo != null and params.parentNo != ''">
             and parentno = #{params.parentNo}
         </if>
         <if test="params.areaLevel != null and params.areaLevel != ''">
             and areaLevel = #{params.areaLevel}
         </if>
     </where>
  </select>
  
  <select id="queryAllByEntity" parameterType="com.mopon.entity.Area" resultMap="areaResultMap">
     SELECT 
     <include refid="fieldList"></include>
     from base_area
     <where>
         1 = 1
         <if test="areaNo != null and areaNo != ''">
             and areaNo = #{areaNo}
         </if>
         <if test="areaName != null and areaName != ''">
             and areaname like CONCAT("%",#{areaName},"%")
         </if>
         <if test="parentNo != null and parentNo != ''">
             and parentno = #{parentNo}
         </if>
         <if test="areaLevel!= null and areaLevel != ''">
             and areaLevel = #{areaLevel}
         </if>
     </where>
  </select>
  
  <select id="queryAreaById" parameterType="java.lang.String" resultMap="areaResultMap">
     SELECT 
     <include refid="fieldList"></include>
     from base_area
     WHERE 
     areano = #{areaId}
  </select>
  
  <select id="queryAreaNameByNo" parameterType="java.lang.String" resultType="java.lang.String">
     SELECT 
     areaname
     from base_area
     WHERE 
     areano = #{areaNo}
  </select>
  
  <insert id="insertAreaInfo" parameterType="com.mopon.entity.Area">
      INSERT INTO base_area
      (areaid,areano,areaname,parentno,arealevel,chn,isused,ishot,sortno)
    VALUES(#{areaId},#{areaNo},#{areaName},#{parentNo},#{areaLevel},#{chn},
    #{isUsed},#{isHot},#{sortNo})
  </insert>
  
  <delete id="deleteAreaById" parameterType="java.lang.String">
      DELETE from base_area
      WHERE areaid = #{areaId}
  </delete>
  
  <update id="updateAreaInfo">
      UPDATE base_area
      <set>
          <if test="isUsed != null">
              isused = #{isUsed},
         </if>
         <if test="isHot != null">
              ishot = #{isHot}
         </if>
      </set>
      WHERE 
      areaid = #{areaId}
  </update>
  
</mapper>