<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mopon.dao.system.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.mopon.entity.system.SysUser" >
    <id column="uid" property="uid" jdbcType="BIGINT" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="loginNum" property="loginnum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="lastTime" property="lasttime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createMan" property="createman" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, roleId, userName, password, loginNum, status, lastTime, createTime, createMan
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user
    where uid = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mopon.entity.system.SysUser" >
    insert into sys_user (uid, roleId, userName, 
      password, loginNum, status, 
      lastTime, createTime, createMan
      )
    values (#{uid,jdbcType=BIGINT}, #{roleid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{loginnum,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{lasttime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{createman,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mopon.entity.system.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="loginnum != null" >
        loginNum,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lasttime != null" >
        lastTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="createman != null" >
        createMan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginnum != null" >
        #{loginnum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createman != null" >
        #{createman,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mopon.entity.system.SysUser" >
    update sys_user
    <set >
      <if test="roleid != null" >
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginnum != null" >
        loginNum = #{loginnum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        lastTime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createman != null" >
        createMan = #{createman,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mopon.entity.system.SysUser" >
    update sys_user
    set roleId = #{roleid,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      loginNum = #{loginnum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      lastTime = #{lasttime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createMan = #{createman,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>